name: Publish the Gateway Route Configurator charm to edge

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-to-edge:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      working-directory: "./gateway-route-operator"
      channel: "latest/edge"
      tag-prefix: "gateway-route"
