name: Tests

on:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        charm:
          - name: gateway-api-integrator
            working-directory: ./gateway-api-integrator
          - name: gateway-route-configurator
            working-directory: ./gateway-route-configurator
    name: Unit tests for ${{ matrix.charm.name }}
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-image: "noble"
      working-directory: ${{ matrix.charm.working-directory }}
      with-uv: true